<div class="wc-faq-panel">
  <div class="wc-faq-header">
    <h1 class='wc-faq__title'>{{ 'Help and Frequently Asked Questrions'|t }}</h1>
{#    <h5 class='wc-faq__sub'>{{ 'Use the search box below to search through our FAQ and find answers to your questions quickly. You can also contact us directly'|t }}</h5>#}
  </div>
  <div class="container">
    {{ drupal_view('faq_page_content') }}
  </div>
</div>
